.homework__content {
    font-family: 'Roboto', sans-serif;
    background-color: #c9d7e5;
    opacity: 1;
    width: 400px;
    border-bottom: 2px solid;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;

}

button {
    height: 50px;
    width: 300px;
}